<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Coursework 1.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5CD3A4521F1013000078B1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5CD3A5921F1013500078B1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5CD3A6421F1013500078B1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
